---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Bio from '../../components/Bio.astro';
import getPostData from '../../utils/getPostData';

// TODO
// import { type CollectionEntry, getCollection } from 'astro:content';
// import BlogPost from '../../layouts/BlogPost.astro';
// export async function getStaticPaths() {
// 	const posts = await getCollection('blog');
// 	return posts.map((post) => ({
// 		params: { slug: post.slug },
// 		props: post,
// 	}));
// }
// type Props = CollectionEntry<'blog'>;
// const post = Astro.props;
// const { Content } = await post.render();

// @ts-ignore
export async function getStaticPaths() {
  // @ts-ignore
  const posts = await Astro.glob('../../data/blog-posts/*.md');
  // @ts-ignore
  return posts.map((post) => ({
    // @ts-ignore
    params: { slug: post.file.split('/').pop().split('.').shift() },
    props: { post },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate } = frontmatter;
const { slug, readingTime } = getPostData(Astro.props.post);
const permalink = `${Astro.site.href}blog/${slug}`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <header>
    <p>{publishDate} ~ {readingTime}</p>
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <hr />
    <Bio />
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
